.posts-page {
    display: flex;
    align-items: flex-start;
    padding: 30px
}

@media screen and (max-width: 992px) {
    .posts-page {
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media screen and (max-width: 520px) {
    .posts-page {
        padding: 15px;
    }
}